<div class="col-lg-6 col-lg-offset-3">
  <h3 class="bg-success text-white p-5">Login</h3>
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <div class="form-group mx-auto">
      <h4 class="color-text-red" ></h4>
      <label for="email-login">Email address</label>
      <input id="email-login" class="form-control" placeholder="Enter email address" type="email" name="email"
             formControlName="email"><br>

      <label for="password-login">Password</label>
      <input id="password-login" class="form-control" placeholder="Enter password" type="password" name="password"
             formControlName="password"><br>
    </div>
    <button class="btn btn-primary btn-block" [disabled]="!loginForm.valid">Login</button>
  </form>
  <div>
    <a routerLink="/registration" class="btn btn-secondary btn-block">Registration</a>
  </div>
</div>
