<div class="col-lg-6 col-lg-offset-3">
  <h3 class="bg-success text-white p-5">Add new Todo</h3>
  <form id="add-todo-form" (ngSubmit)="onSubmit()" [formGroup]="addTodoForm">
    <div class="form-group mx-auto">

      <div>
        <label for="name">Todo name</label>
        <input id="name" class="form-control" type="text" name="name" placeholder="Todo Name" formControlName="name">
      </div>
      <div>
        <label for="description">Description</label>
        <textarea name="description" class="form-control" id="description" cols="30" rows="5" maxlength="255"
                  formControlName="description"></textarea>
      </div>
      <div>
        <label for="price">Price</label>
        <input type="number" id="price" class="form-control" name="price" min="0" formControlName="price">
      </div>
      <div>
        <label>Deadline</label>
        <input type="date" name="date" class="form-control" id="date" formControlName="date">
      </div>
      <br>
      <button value="Submit" id="submit" class="btn btn-primary btn-block" [disabled]="!addTodoForm.valid">Add</button>
    </div>
  </form>
</div>
