<!--<nav class="navbar navbar-inverse">-->
  <!--<div class="container-fluid">-->
    <!--<div class="navbar-header">-->
      <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">-->
        <!--<span class="sr-only">Toggle navigation</span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
      <!--</button>-->
      <!--<a class="navbar-brand" routerLink="">-->
        <!--<strong>Lodgings Manager</strong> <span class="sr-only">(current)</span>-->
      <!--</a>-->

    <!--</div>-->

    <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">-->
      <!--<ul class="nav navbar-nav" *ngIf="logedIn()">-->
        <!--<li class="dropdown">-->
          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Lodgings<span class="caret"></span></a>-->
          <!--<ul class="dropdown-menu" role="menu">-->
            <!--<li>-->
              <!--<a [routerLink]="['users', 'lodgings']">My lodgings</a>-->
            <!--</li>-->

            <!--<li>-->
              <!--<a [routerLink]="['lodgings', 'add']">Add new lodgings</a>-->
            <!--</li>-->

            <!--<li>-->
              <!--<a routerLink="/todos">Todos</a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</li>-->
      <!--</ul>-->
      <!--<form class="navbar-form navbar-right" role="search">-->
        <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
        <!--&lt;!&ndash;<input type="text" id="search" class="form-control" placeholder="Search">&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="submit" class="btn btn-default">Submit</button>&ndash;&gt;-->
        <!--<a [routerLink]="['/user']" class="btn btn-primary btn-space" *ngIf="logedIn()">Profile</a>-->
        <!--<a routerLink="/logout" class="btn btn-danger" *ngIf="logedIn()">Logout</a>-->
        <!--<a routerLink="/login" class="btn btn-primary" *ngIf="!logedIn()">Login</a>-->
      <!--</form>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Lodgings Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
