<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="">
        <strong>Lodgings Manager</strong> <span class="sr-only">(current)</span>
      </a>

    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav" *ngIf="logedIn()">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Lodgings<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a [routerLink]="['users', 'lodgings']">My lodgings</a>
            </li>

            <li>
              <a [routerLink]="['lodgings', 'add']">Add new lodgings</a>
            </li>

            <li>
              <a routerLink="/todos">Todos</a>
            </li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <!--<div class="form-group">-->
        <!--<input type="text" id="search" class="form-control" placeholder="Search">-->
        <!--</div>-->
        <!--<button type="submit" class="btn btn-default">Submit</button>-->
        <a [routerLink]="['/user']" class="btn btn-primary btn-space" *ngIf="logedIn()">Profile</a>
        <a routerLink="/logout" class="btn btn-danger" *ngIf="logedIn()">Logout</a>
        <a routerLink="/login" class="btn btn-primary" *ngIf="!logedIn()">Login</a>
      </form>
    </div>
  </div>
</nav>
