<div class="col-lg-6 col-lg-offset-3">
  <h1>Invite tenants to Lodgings</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="inviteForm">
  <div *ngIf="added" class="alert alert-success">
    <strong>Success!</strong>
  </div>
  <div class="form-group">
    <input type="email" formControlName="email" class="form-control" placeholder="User email">
  </div>
  <div class="form-group">
    <label *ngFor="let lodging of lodgings"><input  type="radio" formControlName="lodgings" value="{{lodging.id}}">{{lodging.name}}</label>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary" [disabled]="!inviteForm.valid">Invite User</button>
  </div>
</form>
</div>
