<div id="add">
  <div class="panel panel-default">
    <div class="panel-heading"><b><a routerLink="/lodgings">{{lodging.name}}</a></b></div>
    <div class="panel-body">
      <ul>
        <h4>Tenants</h4>
        <span *ngIf="lodging.tenants!==null">
        <li class="new-row">
          <div class="new-column">
            <span>Name:</span>
            <span>{{lodging.tenants.firstName}} {{ lodging.tenants.surname }}</span>
          </div>
        </li>
        <li>
          <div class="new-column">
            <span>Phone:</span>
            <span>{{lodging.tenants.phoneNumber}}</span>
          </div>
        </li>
        <li>
          <div class="new-column">
            <button class="btn btn-primary btn-danger" (click)="removeTenants(lodging.id)">Remove tenants</button>

          </div>
        </li>
        </span>
        <span *ngIf="lodging.tenants===null">
          No tenants added yet
        </span>
        <h4>Address</h4>
        <li class="new-row">
          <div class="new-column">
            <span>Country:</span>
            <span>{{lodging.fullAddress.country}}</span>
          </div>
        </li>
        <li class="new-row">
          <div class="new-column"><span>City: </span>
            <span >{{lodging.fullAddress.city}}</span>
          </div>
        </li>
        <li class="new-row">
          <div class="new-column"><span>Zipcode:  </span><span >{{lodging.fullAddress.zipCode}}</span>
          </div>
        </li>
        <li class="new-row">
          <div class="new-column"><span>Address: </span><span >{{lodging.fullAddress.address}}</span>
          </div>
        </li>
        <li class="new-row">
          <div class="new-column"><span>Type: </span><span >{{lodging.lodgingsType}}</span>
          </div>
        </li>
        <h4>Overhead Costs</h4>
        <li class="new-row">
          <div class="new-column"><span>Daily Price:  </span>
            <span>{{lodging.pricePerDay}}</span>
          </div>

        </li>
        <li class="new-row">
          <div class="new-column"><span>Electricity Bill: </span>
            <span >{{lodging.electricityBill}}</span>
          </div>
        </li>
        <li class="new-row">
          <div class="new-column"><span>Gasbill: </span>
            <span >{{lodging.gasBill}}</span>
          </div>
        </li>
        <li class="new-row">
          <div class="new-column"><span>Telecommunication Bill: </span>
            <span >{{lodging.telecommunicationBill}}l</span>
          </div>
        </li>
        <li class="new-row">
          <div class="new-column"><span>Cleaning Cost:  </span><span
           >{{lodging.cleaningCost}}</span>
          </div>
        </li>


      </ul>

      <a  [routerLink]="['edit']" class="btn btn-sm btn-info btn-space" name="lodgingsId">Edit</a>
      <button  (click)="deleteLodgings()"  class="btn btn-sm btn-danger btn-space" name="lodgingsId">Delete</button>
      <!--<a  [routerLink]="['/todos', lodging.id, 'add']" class="btn btn-sm btn-default" name="lodgingsId">Add Todo</a>-->

    </div>
  </div>
</div>

<div>
  <h4>Lodgings Todos</h4>
  <button  (click)="addTodo()"  class="btn btn-sm btn-success btn-space" name="lodgingsId">New Todo</button>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Deadline</th>
        <th>Price</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of sortByStatus()" [ngClass]="(isTodoDone(todo)) ? 'success' : 'warning'">
        <td>{{todo.name}}</td>
        <td>{{todo.description}}</td>
        <td>{{todo.deadline}}</td>
        <td>{{todo.price}}</td>
        <td>{{todo.status}}</td>
        <td><button class="btn btn-success" *ngIf="!isTodoDone(todo)" (click)="markAsDone(todo)">Mark</button></td>
        <td><button class="btn btn-danger" (click)="deleteToDo(todo.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
