
<div class="d-flex bg-secondary" id="wrapper" >

  <!-- Sidebar -->
  <div class="bg-dark border-right" id="sidebar-wrapper" *ngIf="logedIn()">
    <div class="sidebar-heading text-white">Lodgings Manager</div>
    <div class="list-group list-group-flush">
      <a routerLink="" class="list-group-item list-group-item-action bg-dark text-white">Dashboard</a>
      <a routerLink="/lodgings" class="list-group-item list-group-item-action bg-dark text-white">Lodgings</a>
      <a routerLink="/todos" class="list-group-item list-group-item-action bg-dark text-white">Todos</a>
      <a routerLink="/user" class="list-group-item list-group-item-action bg-dark text-white">Profile</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-dark border-bottom">

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active" *ngIf="!logedIn()">
            <a class="nav-link text-white" routerLink="/registration">Register <span class="sr-only"></span></a>
          </li>
          <li class="nav-item active" *ngIf="!logedIn()">
            <a class="nav-link text-white" routerLink="/login">Login <span class="sr-only"></span></a>
          </li>
          <li class="nav-item active" *ngIf="logedIn()">
            <a class="nav-link text-white" routerLink="/logout">Logout <span class="sr-only"></span></a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid ">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
