<div id="profile-data" class="row">
  <div id="data-list" class="col-sm-3">
    <!--left col-->
    <ul class="list-group">
      <li>Profile</li>
      <li>
        <span ><strong class="">First Name: </strong></span>
        <span >{{user.firstName}}</span></li>
      <li ><span ><strong class="">Surname: </strong></span>
        <span >{{user.surname}}</span></li>
      <li ><span ><strong class="">Cellphone Number: </strong></span>
        <span >{{user.phoneNumber}}</span></li>
      <li ><span ><strong class="">Email: </strong></span>
        <span >{{user.email}}</span></li>
      <li >
        <span ><strong class="">Country: </strong></span>
        <span >{{user.country}}</span></li>
      <li ><span ><strong class="">City: </strong></span>
        <span >{{user.city}}</span></li>
      <li ><span ><strong class="">Zipcode: </strong></span>
        <span >{{user.zipCode}}</span></li>
      <li ><span ><strong class="">Address: </strong></span>
        <span>{{user.address}}</span></li>
    </ul>

      <button class="btn btn-info">Edit Profile</button>


      <button class="btn btn-secondary" name="userId" (click)="deleteUser()">Delete profile</button>

  </div>
</div>
