<div class="col-lg-6 col-lg-offset-3">
  <h3 class="bg-success text-white p-5">Add new lodgings</h3>
  <form id="add-lodgings-form" (ngSubmit)="onSubmit(addLodgings)" #addLodgings="ngForm" ngNativeValidate>
    <div class="form-group mx-auto">

      <div>
        <label for="lodging-name">Lodging name</label>
        <input id="lodging-name" class="form-control" type="text" name="lodging_name" placeholder="Lodging Name"
               pattern="^[\w\.\/_%-]{1,255}$" required ngModel>
      </div>
      <br>

      <div id="status_selection">
        <label for="lodging-type">Choose lodging type: </label>
        <select id="lodging-type" name="lodging_type"  class="form-control" [ngModel]="'APARTMENT'">
          <option value="APARTMENT" selected>Apartment</option>
          <option value="FAMILY_HOUSE">Family house</option>
          <option value="ROOM">Room</option>
          <option value="PENTHOUSE">Penthouse</option>
        </select>
      </div>

      <label for="lod-price">Daily price</label>
      <input id="lod-price" class="form-control" type="text"  name="daily_price"
             placeholder="Digits only. Length: 1-12"  pattern="^[1-9]{1}[0-9]{0,11}|[0]{1}$" required ngModel><br>

      <label for="lod-electricity">Electricity Bill</label>
      <input id="lod-electricity" class="form-control" type="text"  name="electricity_bill"
             placeholder="Digits only. Length: 1-12" pattern="^[1-9]{1}[0-9]{0,11}|[0]{1}$" required ngModel><br>

      <label for="lod-gas">Gas Bill</label>
      <input id="lod-gas" class="form-control" type="text"  name="gas_bill"
             placeholder="Digits only. Length: 1-12"  pattern="^[1-9]{1}[0-9]{0,11}|[0]{1}$" required ngModel><br>

      <label for="lod-telecom">Telecommunication Bill</label>
      <input id="lod-telecom" class="form-control" type="text"  name="telecommunication_bill"
             placeholder="Digits only. Length: 1-12"  pattern="^[1-9]{1}[0-9]{0,11}|[0]{1}$" required ngModel><br>

      <label for="lod-cleaning">Cleaning Cost</label>
      <input id="lod-cleaning" class="form-control" type="text"  name="cleaning_cost"
             placeholder="Digits only. Length: 1-12"  pattern="^[1-9]{1}[0-9]{0,11}|[0]{1}$" required ngModel><br>

      <div class="form-group">
        <h3 class="bg-success text-white p-5">Address</h3>

        <label for="lod-country">Country</label>
        <input id="lod-country" class="form-control" type="text" name="country"
               pattern="^[\w\.\/\s_%-]{1,255}$" required ngModel><br>

        <label for="lod-city">City</label>
        <input id="lod-city" class="form-control" type="text" name="city"
               pattern="^[\w\.\/\s_%-]{1,255}$" required ngModel><br>

        <label for="lod-zip">Zip code</label>
        <input id="lod-zip" class="form-control" type="text" name="zip_code"
               pattern="^[\w\.\/\s_%-]{1,255}$" required ngModel><br>

        <label for="lod-address">Address</label>
        <input id="lod-address" class="form-control" type="text" name="address"
               pattern="^[\w\.\/\s_%-]{1,255}$" required ngModel><br>
      </div>

      <button form="add-lodgings-form" type="submit" value="Submit" id="submit" class="btn btn-primary btn-block"
      [disabled]="!addLodgings.valid">Submit</button>
    </div>
  </form>
</div>
